#navigation {
	width: 100%;
	padding: 10px 20px;
	background-color: #19191f;
	color: #fff;
	}

	@media all and (min-width: 768px) {
		#navigation {
			width: 240px;
			position: fixed;
			height: 100vh;
		}
	}

#navigation hr {
	margin-bottom: 10px;
}

.container{
	width: auto;
	}
	
	@media all and (min-width: 768px) {
		.container {
			margin-left: 240px;
		}
	}

#navigation button{
	background-color: #82a83e;
	border: none;
}

.admin-color {
	margin-top: 5px;
	color: orange;
	font-size: 0.9em;
}

/* ================================================= */

#navigation h2 {
	text-align: center;
}

h2 a:link {
	color: #fff;
	text-decoration: none;
}

h2 a:visited {
	color: #fff;
}

h2 a:hover {
	color: #fff;
}

h2 a:active {
	color: #fff;
}

/* ================================================= */

nav ul {
	padding: 0px;
}

nav li {
	list-style: none;
}

nav a:link {
	color: #8c8c9c;
	text-decoration: none;
	display: block;
	padding: 8px 0px 8px 20px;
	width: 240px;
	margin: 0 0 0 -20px;
}

nav a:visited {
	color: #8c8c9c;
}

nav a:hover {
	color: #fff;
	background-color: #101014;
}

nav a:active {
	color: #8c8c9c;
}

/* ================================================= */

.threads {
	color: #939393;
	font-size: 1.2em;
}

a:link {
	color: #000;
	text-decoration: none;
}

.threads a:visited {
	color: #939393;
}

.threads a:hover {
	color: #33CC33;
}

.threads a:active {
	color: #33CC33;
}

.thread {
	padding-top: 10px;
}

hr {
	padding: 0;
	margin: 0;
}

h3 {
	color: #000;
}

#divider {
	border: none;
	background-color: #D6D6D6;
	height: 3px;
	margin-bottom: 20px;
}

.threads-header {
	margin-top: 41px;
}

/* ================================================= */

.thread p {
	text-align: center;
}

.header h2 {
	color: #000;
}

.header p {
	color: #000;
}

/* ================================================= */

